@background-color: #fff;
@panel-color: rgba(255,255,255,0.75);
@opaque: rgba(0,0,0,0.5);
@text-color: #303030;
@feather-color: #292929;
@panelHeight: 75px;


// TODO: Add Styles
html, body, #app {
  height: 100%;
}

div, body, #app{
  margin: 0;
  padding: 0;
}

#app {
  background-color: @background-color;
}

.background {
  direction: rtl;
  background-image: url(/images/savethedate.jpg) ;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: @background-color;
  background-position: left center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.wrapper {
  direction: ltr;
}


.panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: @panelHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: @panel-color;
  color: @text-color;
  /*padding: 0.5em;*/
}

.header {
  top: 0;
  justify-content: flex-start;
}

.footer {
  bottom: 0;
  justify-content: flex-end;
}

.content {
  color: #fff;
  position: absolute;
  width: 100vw;
  height: calc(~'100%' - (@panelHeight * 2));
  margin: @panelHeight 0;
  display: flex;
  flex-direction: column-reverse;
}

.opaque {
  background-color: @opaque;
}

.envelope {
  fill: @text-color;
}
.mail {
  width: 20px;
  margin: auto;
  margin-left: 20px;
  align-self: flex-start;
}

.text {
  font-family: 'Brusher';
  font-size: 50px;
  font-weight: 100;
  padding: 10px 20px;
}

.note {
  font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-style: 'light';
  letter-spacing: 2px;
  font-weight: 100;
  padding: 20px;
  margin-left: auto;
}


@media (max-width: 769px) {
  @panelHeight: 50px;
  .panel {
    height: @panelHeight;
  }

  .background {
    background-position: 13% 0px;
  }

  .text {
    font-size: 22px;
    padding: 5px;
  }

  .mail {
    margin-left: 5px;
  }

  .note {
    font-size: 11px;
    padding: 5px;
    letter-spacing: 1px;
  }

  .content {
    height: calc(~'100%' - (@panelHeight * 2));
    margin: @panelHeight 0;
  }

}

@font-face {
  font-family: 'Brusher';
  src:
    local('Brusher'),
    url('/fonts/Brusher-Regular.otf')
    format('opentype');
}

@font-face {
  font-family: 'AmaticSC';
  src:
    local('AmaticSC'),
    url('/fonts/AmaticSC-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'MawnsHandwriting';
  src:
    local('MawnsHandwriting'),
    url('/fonts/Mawns_Handwriting.ttf')
    format('truetype');
}
