@background-color: #fff;
@panel-color: rgba(255,255,255,0.75);

@font-face {
  font-family: 'Brusher';
  src:
    local('Brusher'),
    url('/fonts/Brusher-Regular.otf')
    format('opentype');
}

.ui.header.dannygemmaTitle {
  font-family: 'Brusher';
  font-size: 45px;
  font-weight: 100;
  margin: 0px 30px;
  line-height: 1.5;
}

.ui.menu {
  margin-top: 0;
}

.gemdannyHeader {
	height: 100px;
}

.mainContainer {
  /*padding-top: 30px;*/
}
.ui.steps .step.active:after {
	z-index: 1;
}

html,
body {
  height: 100%;
  margin: 0
}

#homeflex {
  display: flex;
  flex-flow: column;
  height: 100%;
}

/*.ui.segment.aboutPage {
  margin: 50px auto;
  width: 70%;
}*/

.ui.items>.item .extra {
  width: auto;
}

.homewrapper {
  flex: 1 0 auto;
  height: 85vh;
  background-image: url('/images/gemma_and_danny_cropped.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 75% center;
}


.rsvpNavButtons {
  float: right;
}

.logingreeting {
  width: 40%;
  margin-left: 5%;
}

.greetingText {
  margin-top: 10%;
}

.greetingText {
  font-size: 18px;
}

.ui.image.minime {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: -1;
}

.ui.items > .item .extra {
  width: auto!important;
}

.loginBox {
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.accomButtons {
  float: right;
}

.ui.container.screenSizeWarning {
  margin-top: 15px;
}

p.attending {
  margin-top: 1000px;
  margin-bottom: 50px;
}

@media (min-width: 1024px) {
  .ui.form textarea.attendingMessage {
    width: 50%;
    display: block;
  }
}

@media (max-width: 1148px) {
  .gone { display: none!important; }
}

@media (max-width: 1024px) {
  .logingreeting {
    width: 90%;
    margin: 300px auto 50px auto;
    padding: 10px;
    background-color: rgba(255,255,255,0.6);
    border: 1px solid;
  }

  .loginBox {
    margin-top: auto;
  }
  .homewrapper {
    background-position: center center;
    height: 65vh;
  }
  .ui.header.dannygemmaTitle {
    width: 300px;
    display: block;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
  }
}

@media (max-width: 375px) {
  .ui.header.dannygemmaTitle {
    line-height: 1.5em;
    font-size: 40px;
  }


}

