doctype html
html
	//- HTML HEADER
	body
		#app
			p Hey #{name.first},
			p You may have heard we are getting married...
			p This link is for you :) See you in December!
			a(href=personalisedUrl) #{webUrl}
			img(src=openTracker)/
			p

